// Secrets file for things like WiFi credentials

constexpr const char* KNOWN_SSID[] = {"WiFiName1", "WiFiName2", "WiFiName3"};
constexpr const char* KNOWN_PASSWORD[] = {"WiFiPass1", "WiFiPass2", "WiFiPass3"};