// Secrets file for things like WiFi credentials

constexpr const char* KNOWN_SSID[] = {"WiFiName1", "WiFiName2", "WiFiName3"};
constexpr const char* KNOWN_PASSWORD[] = {"WiFiPass1", "WiFiPass2", "WiFiPass3"};

// Input the Parent node MAC address for child nodes to send data to
#define PARENT_MAC_ADDR  {0xa0, 0xb1, 0xc2, 0xd3, 0xe4, 0xf5}  

// Update this with your parent device MAC address
// eg: a0:b1:c2:d3:e4:f5 = {0xa0, 0xb1, 0xc2, 0xd3, 0xe4, 0xf5}